<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add Job</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/jobs/addJob}" th:object="${job}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="title" class="col-form-label">Title</label> <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title"> <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="description" class="col-form-label">Description</label> <textarea rows="10" cols="10" type="text" maxlength="500" th:field="*{description}" class="form-control" id="description" placeholder="Description"></textarea><span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="date" class="col-form-label">Date</label> <input type="date" th:field="*{datePosted}" class="form-control" id="datePosted" placeholder="postedDate"> <span th:if="${#fields.hasErrors('datePosted')}" th:errors="*{datePosted}" class="text-danger"></span>
                            </div><div class="form-group col-md-8">
                                <label for="active" class="col-form-label">Active</label> <input type="checkbox" th:field="*{isActive}" class="form-control" id="isActive" placeholder="isActive"> <span th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8"></div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add Job">
                            </div>
    
                            <div class="form-group col-md-8"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>